:root{
    --primary-green:#47FFDB;
    --primary-blue: rgba(4,59,240,0.67);
}
*, *::after,*::before{
    margin:0;
    padding: 0;
}
body{
  padding: 0;
  margin:0;
}

#app{
    background-image: linear-gradient(to bottom left,var(--primary-green), var(--primary-blue));
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
}
.container {
    border-radius: 30px;;
    overflow: hidden;
    backdrop-filter: blur(3px) opacity(0.5);
    z-index: 10;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 60vw;
    margin: auto;
    padding: 40px 20px;
    border: 1px solid rgba(255,255,255,0.2);
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.2));
}

.orb-1{
    width: 600px;
    height: 600px;
    background-image:linear-gradient(to bottom right , var(--primary-green), var(--primary-blue));
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid rgba(var(--primary-green), 0.5);
    border-left: 1px solid rgba(var(--primary-blue), 0.2);
    border-right: 1px solid rgba(var(--primary-green),0.4);
    border-bottom: 1px solid rgba(var(--primary-blue),0.2);
    border-radius: 50%;
    filter: opacity(0.5) blur(5px);
    transform: rotateY(180deg);
}
.orb-2{
    width: 600px;
    height: 600px;
    background-image:linear-gradient(to bottom right, var(--primary-green), var(--primary-blue));
    position: absolute;
    top: -50px;
    right: 20px;
    border-top: 1px solid rgba(var(--primary-green), 0.5);
    border-left: 1px solid rgba(var(--primary-blue), 0.2);
    border-right: 1px solid rgba(var(--primary-green),0.4);
    border-bottom: 1px solid rgba(var(--primary-blue),0.2);
    border-radius: 50%;
    filter: opacity(0.5) blur(5px);
    transform: rotateZ(180deg);
}

.orb-3{
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.02));
    position: absolute;
    bottom: 10px;
    left: 127px;
    border-top: 1px solid rgba(var(--primary-green), 0.5);
    border-left: 1px solid rgba(var(--primary-blue), 0.2);
    border-right: 1px solid rgba(var(--primary-green),0.4);
    border-bottom: 1px solid rgba(var(--primary-blue),0.2);
    border-radius: 50%;
    filter: blur(2px);
    transform: rotateZ(100deg);
}

.orb-4{
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.02));
    position: absolute;
    top: 15px;
    right: 132px;
    border-top: 1px solid rgba(var(--primary-green), 0.5);
    border-left: 1px solid rgba(var(--primary-blue), 0.2);
    border-right: 1px solid rgba(var(--primary-green),0.4);
    border-bottom: 1px solid rgba(var(--primary-blue),0.2);
    border-radius: 50%;
    transform: rotateZ(80deg);
    filter: blur(2px);
}


